input::-webkit-input-placeholder{
    color:white;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:white;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:white;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:white;
}